{% extends 'base.html.twig' %}

{% block title %}Jobs in the {{ category.name }} category{% endblock %}

{% block body %}
    <h1>{{ category.name }}</h1>

    {% include 'job/_list.html.twig' with {'jobs': category.activeJobs} only %}
{% endblock %}