{% extends 'base.html.twig' %}

{% block title %}Jobs in the {{ category.name }} category{% endblock %}

{% block body %}
    <h1><a href="{{ url('category_show', {'slug': category.slug}) }}">{{ category.name }}</a></h1>

    {% include 'job/_list.html.twig' with {'jobs': category.activeJobs} only %}
{% endblock %}