{% extends 'base.html.twig' %}

{% block body %}
    {% for category in categories %}
    <h1>{{ category.name }}</h1>

    {% include 'job/_list.html.twig' with {'jobs': category.activeJobs|slice(0, max_jobs_on_homepage)} only %}
    {% endfor %}
{% endblock %}